/*
	Site ~ Core CSS.
	Main control sheet for style
*/

/* =General
----------------------------------------------------------------------------*/
.mir { letter-spacing : -1000em; }
/* Just for Opera, but hide from MacIE */
/*\*/html>body .mir { letter-spacing : normal; text-indent : -999em; overflow : hidden;}
/* End of hack */

p.mir {line-height:0;}
body {color:#444444; background:#E6E6E6; padding:20px;}

/* =Layout
----------------------------------------------------------------------------*/
#projectList {width:100%;}

/* =Typography
----------------------------------------------------------------------------*/
h1, h2, h3, h4, h5 {margin:0 0 5px 0; padding:0;}

li h3, li h4, li h5 {margin:0; padding:0;}

/* =Forms
----------------------------------------------------------------------------*/
